.cursor-pointer {
  cursor: pointer;
}

.trig-popover,
.fn-popover {
  max-width: none !important;
  width: 300px;
}

.popover-body {
  width: 100%;
  padding: 1% !important;
}

html[data-bs-theme="light"] {
  --bs-body-bg: rgb(243, 243, 243);
}

html[data-bs-theme="light"] .cstBtn {
  background-color: white;
}

html[data-bs-theme="light"] .cstBtn:hover {
  background-color: rgb(246, 246, 246);
}

html[data-bs-theme="dark"] {
  --bs-body-bg: #000000;
}

html[data-bs-theme="dark"] .cstBtn {
  background-color: rgb(50, 50, 50);
}

html[data-bs-theme="dark"] .cstBtn:hover {
  background-color: rgb(59, 59, 59);
}
